.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1512px;
  margin: 0 auto 0;
  background-color: rgba(0, 132, 255, 0.08);
  padding: 0 50px 0;
}

.contact__title {
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  padding: 67px 0 53px 0; /* 211px */
  max-width: 1150px;
  width: 100%;
}

.contact__form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "name-field image"
    "email-field image"
    "phone-field image"
    "message-field message-field"
    "submit-button .";
  max-width: 1150px;
  width: 100%;
  gap: 0 25px;
}

.contact__form-label {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  color: black;
  padding-bottom: 13px;
  padding-top: 37px;
}

.contact__form-label:first-of-type {
  padding-top: 0;
}

.contact__name-field {
  display: flex;
  flex-direction: column;
  grid-area: name-field;
}

.contact__email-field {
  display: flex;
  flex-direction: column;
  grid-area: email-field;
}

.contact__phone-field {
  display: flex;
  flex-direction: column;
  grid-area: phone-field;
}

.contact__field-message {
  display: flex;
  flex-direction: column;
  /*grid-area: message-field;*/
  grid-column: 1/3;
  width: 95%;
  margin-top: 13px;
}

.contact__submit-button {
  grid-area: submit-button;
}

.contact__image-container {
  grid-area: image;
  margin: 0 auto 0;
}

.contact__form-input {
  border: 3px solid #000000;
  border-radius: 6px;
  background-color: transparent;
  margin: 0 0 32px 0;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
  text-indent: 20px;
  color: black;
}

.contact__form-input:focus {
  outline-style: solid;
  outline-color: #0084ff;
  outline-width: 3px;
  outline-offset: -3px;
}

.contact__form-input::placeholder {
  color: #838383;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
  text-indent: 20px;
}

.contact__form-input_type_attribute {
  height: 75px;
  width: 100%;
}

.contact__form-input_type_message {
  max-width: 1110px;
  width: 96%;
  min-height: 163px;
  resize: none;
  padding: 10px 20px 0px;
  text-indent: 0;
  grid-column: 1/3;
}

.contact__form-input_type_message::placeholder {
  text-indent: 0;
}

.contact__form-image {
  max-width: 558px;
  width: 100%;
}

.contact__button {
  background-color: #0084ff;
  border: none;
  border-radius: 56px;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.2px;
  color: white;
  max-width: 222px;
  width: 100%;
  height: 55px;
}

@media screen and (max-width: 960px) {
  .contact__form {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "image"
      "name-field"
      "email-field"
      "phone-field"
      "message-field"
      "submit-button";
    max-width: 1150px;
    width: 100%;
  }

  .contact__image-container {
    max-width: 350px;
    margin: 0 auto 0;
  }

  .contact__field-message {
    grid-column: 1/2;
  }

  .contact__form-input_type_message {
    grid-column: 1/2;
  }
}
