.header {
  position: relative;
  padding: 47px 40px 517px 40px;
  box-sizing: border-box;
  max-width: 1512px;
  background-image: url("../images/wave.svg");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.header__avatar {
  width: 100%;
  max-width: 185px;
}

.header__title {
  margin: 0;
  padding-top: 175px;
  font-size: 55px;
  max-width: 610px;
  padding-bottom: 20px;
}

.header__title-salutation {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.header__dash {
  color: rgb(188, 188, 188);
  line-height: 20px;
}

.header__line-break {
  display: block;
}

.header__attributes {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 400;
  max-width: 636px;
  margin: 0;
  padding-bottom: 31px;
}

.header__hero-image {
  position: absolute;
  top: 273px;
  right: 0px;
  /* width: 1044px; */
  z-index: 2;
  max-width: 896px;
}

.header__ellipse {
  position: absolute;
  bottom: 236px;
  right: 0px;
  z-index: 1;
}

@media screen and (max-width: 1324px) {
  .header {
    text-align: center;
    padding-bottom: 260px;
  }
  .header__title {
    margin: 0 auto;
  }
  .header__attributes {
    margin: 0 auto;
  }
  .header__hero-image {
    position: relative;
    top: 0;
    margin-top: 30px;
    width: 100%;
  }

  .header__ellipse {
    top: none;
    bottom: 220px;
    width: 50%;
  }
}

@media screen and (max-width: 830px) {
  .header {
    padding-top: 20px;
  }
}

@media screen and (max-width: 550px) {
  .header__title {
    font-size: 40px;
  }
  .header__attributes {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-bottom: 150px;
  }
}
