.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding-top: 46px;
  /* temporary */
  flex-wrap: wrap;
  max-height: 30px;
}

.nav__link {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400px;
  color: #000000;
  text-decoration: none;
  transition: all 0.25s linear;
  display: inline-block;
}

.nav__link:hover {
  color: #0084ff;
  border-bottom: 2px solid #0084ff;
  padding-bottom: 10px;
}

.nav__link_type_contact {
  background: black;
  color: white;
  padding: 10px 20px;
  border-radius: 100px;
}

.nav__link_type_contact:hover {
  border-bottom: none;
  /* padding-bottom: none; */
  transform: translateY(-4px);
  color: white;
}

@media (max-width: 991.98px) {
  .nav__links {
    display: none;
  }
}
