.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1512px;
  margin: 0 auto 0;
  /* background-color: white; */
  background-image: url(../images/wave-2.svg);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.testimonials__title {
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-weight: 700;
  padding-top: 99px;
  margin: 0;
  padding-bottom: 75px;
}

.testimonials__instances {
  max-width: 1250px; /*1067px*/
  width: 100%;
  padding-bottom: 356px;
}

.testimonials__instance {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
}

.testimonials__instance_herbert {
  justify-content: flex-start;
  padding-bottom: 82px;
}

.testimonials__instance_susan {
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 73px;
}

.testimonials__headshot {
  z-index: 2;
}

.testimonials__headshot_herbert {
  max-width: 152px;
  position: relative;
  top: 45px;
}

.testimonials__headshot_susan {
  width: 200px;
}

.testimonials__headshot_todd {
  max-width: 152px;
}

.testimonials__speech-bubble {
  background-color: rgba(201, 224, 245, 0.26);
  border-radius: 45px;
}

.testimonials__speech-bubble_herbert {
  max-width: 850px;
  width: 100%;
}

.testimonials__speech-bubble_susan {
  position: relative;
  left: 115px;
  max-width: 764px;
  width: 100%;
}

.testimonials__speech-bubble_todd {
  max-width: 855px;
  width: 100%;
}

.testimonials__speech-bubble-tail-herbert {
  position: relative;
  left: 10px;
  top: 50px;
}

.testimonials__speech-bubble-tail-todd {
  position: relative;
  left: 10px;
}

.testimonials__text {
  font-family: "Inter", sans-serif;
  font-size: 27px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  padding: 45px;
}

.testimonials__text_herbert {
  font-size: 27px;
}

.testimonials__text_susan {
  font-size: 32px;
  padding-right: 125px;
}

.testimonials__text_todd {
  font-size: 27px;
}

.testimonials__citing {
  font-size: 18px;
  margin: 0;
  text-align: right;
  padding: 0 9% 40px 0;
}

.testimonials__citing_herbert {
  font-size: 18px;
}

.testimonials__citing_susan {
  font-size: 21px;
  padding-right: 100px;
}

.testimonials__citing_todd {
  font-size: 18px;
  margin: 0;
  text-align: right;
}

.testimonials__text-quotes {
  font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 1024px) {
  .testimonials__title {
    padding-bottom: 65px;
  }

  .testimonials__instances {
    max-width: 900px;
    padding-bottom: 254px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "herbert"
      "susan"
      "todd";
    gap: 40px 0;
  }

  .testimonials__instance {
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
  }

  .testimonials__instance_herbert {
    justify-content: flex-start;
    padding-bottom: 0;
  }

  .testimonials__instance_susan {
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
    padding-bottom: 0;
  }

  .testimonials__headshot_herbert {
    max-width: 220px;
    top: 0;
  }

  .testimonials__headshot_susan {
    width: 220px;
  }

  .testimonials__headshot_todd {
    width: 220px;
  }

  .testimonials__speech-bubble-tail-herbert {
    display: none;
  }

  .testimonials__speech-bubble-tail-todd {
    display: none;
  }

  .testimonials__speech-bubble_herbert {
    position: relative;
    top: -24px;
    max-width: 850px;
    width: 100%;
  }

  .testimonials__speech-bubble_susan {
    position: relative;
    left: 0;
    top: -24px;
    max-width: 850px;
    width: 100%;
  }

  .testimonials__speech-bubble_todd {
    position: relative;
    top: -24px;
    max-width: 850px;
    width: 100%;
  }

  .testimonials__text {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    margin: 0;
  }

  .testimonials__text_herbert {
    font-size: 28px;
  }

  .testimonials__text_susan {
    font-size: 28px;
    padding-right: 45px;
  }

  .testimonials__text_todd {
    font-size: 28px;
  }

  .testimonials__citing_susan {
    font-size: 18px;
    padding-right: 9%;
  }
}

@media screen and (max-width: 800px) {
  .testimonials__instances {
    padding-bottom: 204px;
    gap: 25px 0;
  }
  .testimonials__headshot_herbert {
    width: 25%;
    min-width: 150px;
  }

  .testimonials__headshot_susan {
    width: 25%;
    min-width: 150px;
  }

  .testimonials__headshot_todd {
    width: 25%;
    min-width: 150px;
  }

  .testimonials__speech-bubble_herbert {
    top: -24px;
  }

  .testimonials__speech-bubble_susan {
    top: -24px;
  }

  .testimonials__speech-bubble_todd {
    top: -24px;
  }

  .testimonials__text {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    padding-bottom: 35px;
  }

  .testimonials__text_herbert {
    font-size: 25px;
    padding: 35px;
  }

  .testimonials__text_susan {
    font-size: 25px;
    padding: 35px;
  }

  .testimonials__text_todd {
    font-size: 25px;
    padding: 35px;
  }

  .testimonials__citing_herbert {
    font-size: 16px;
    padding-bottom: 35px;
  }

  .testimonials__citing_susan {
    font-size: 16px;
    padding-bottom: 35px;
  }

  .testimonials__citing_todd {
    font-size: 16px;
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 600px) {
  .testimonials__instances {
    gap: 15px 0;
  }

  .testimonials__text_herbert {
    font-size: 19px;
    padding: 45px 25px 30px;
  }

  .testimonials__text_susan {
    font-size: 19px;
    padding: 45px 25px 30px;
  }

  .testimonials__text_todd {
    font-size: 19px;
    padding: 45px 25px 30px;
  }

  .testimonials__citing_herbert {
    font-size: 14px;
    padding-bottom: 25px;
  }

  .testimonials__citing_susan {
    font-size: 14px;
    padding-bottom: 25px;
  }

  .testimonials__citing_todd {
    font-size: 14px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 467px) {
  .testimonials__instances {
    padding-bottom: 60px;
  }

  .testimonials__text_herbert {
    font-size: 15px;
  }

  .testimonials__text_susan {
    font-size: 15px;
  }

  .testimonials__text_todd {
    font-size: 15px;
  }

  .testimonials__citing_herbert {
    font-size: 12px;
  }

  .testimonials__citing_susan {
    font-size: 12px;
  }

  .testimonials__citing_todd {
    font-size: 12px;
  }
}
