.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1512px;
  margin: 0 auto 0;
  background-image: url(../images/wave-2.svg);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
  font-size: 27px;
  font-weight: 400;
  position: relative;
  overflow: hidden;
}
.testimonials__title {
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-weight: 700;
  padding-top: 99px;
  margin: 0;
  padding-bottom: 75px;
  text-align: center;
  z-index: 2;
  position: relative;
}
.testimonials__instances-list {
  list-style: none;
  width: 75%;
  padding: 0;
  margin: 0;
}
.testimonials__instances-item {
  padding-bottom: 150px;
  display: flex;
  position: relative;
  z-index: 2;
}
.testimonials__instances-item:last-of-type {
  padding-bottom: 356px;
}
.testimonials__instances-item_right {
  flex-direction: row-reverse;
}
.testimonials__headshot {
  max-width: 180px;
  z-index: 2;
}
.testimonials__speech-bubble {
  background-color: #ebf5ff;
  border-radius: 45px;
  padding: 45px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials__speech-bubble-tail {
  position: relative;
  left: 2px;
}

.testimonials__speech-bubble-tail_type_right {
  position: relative;
  left: -2px;
}

.testimonials__text {
  margin: 0;
}
.testimonials__text-quotes {
  font-family: "Quicksand", sans-serif;
}
.testimonials__citing {
  margin: 0;
  text-align: end;
  font-size: 18px;
}
.testimonials__ellipse {
  position: absolute;
  right: -10%;
  top: 50%;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .testimonials__headshot {
    max-width: 200px;
  }
  .testimonials__ellipse {
    right: -40%;
  }
}
@media screen and (max-width: 830px) {
  .testimonials__headshot {
    max-width: 100px;
  }
  .testimonials__instances-list {
    width: 90%;
  }
  .testimonials__instances-item {
    align-items: flex-start;
    padding-bottom: 40px;
  }
  .testimonials__instances-item:last-of-type {
    padding-bottom: 150px;
  }
  .testimonials__speech-bubble-tail {
    margin-top: 30px;
  }
  .testimonials__speech-bubble {
    padding: 35px;
  }
}
@media screen and (max-width: 665px) {
  .testimonials {
    font-size: 16px;
  }
  .testimonials__headshot {
    max-width: 60px;
  }
  .testimonials__instances-item {
    align-items: flex-start;
    padding-bottom: 20px;
  }
  .testimonials__instances-item:last-of-type {
    padding-bottom: 120px;
  }
  .testimonials__speech-bubble-tail {
    margin-top: 25px;
    max-width: 40px;
  }
  .testimonials__speech-bubble {
    padding: 25px;
  }
  .testimonials__citing {
    font-size: 14px;
  }
  .testimonials__ellipse {
    display: none;
  }
}
